NODE_ENV=development
PORT=3005

# --- Base de datos (MySQL) ---
DB_HOST=localhost
DB_PORT=3306
DB_USER=tax_user
DB_PASSWORD=secret
DB_NAME=tax_db

# --- CORS ---
CORS_ORIGIN=http://localhost:5173

# --- OpenTelemetry (APM) ---
OTEL_SERVICE_NAME=tax-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
